@import "_variables";
@import "_grid";
@import "_mediaquery";

.titulo{
	height:$altura;
}
.amarillo{
	background:$yellow;
}
.letra-blanca{
	color:$blanca
}
.titulo h1{
	padding:$padding;
}
.subtitulos{
	list-style: none;
	margin-top: $margin;
}
.negro{
	background:$negro;
}
footer{
	margin-top:$margin * 2;
}






